@charset 'utf-8';

/* 변수 설정 */
:root {
  /*space*/
  --r1: 27px;
  --r2: 54px;
  --r3: 81px;
  --cs1: 32px;
  --cl1: 91px;
  --c4: 460px;
  --width: 1444px;

  /*font*/
  --f-main-t: 60px;
  --f-sub-t: 40px;
  --f-sub: 25px;
  --f-body: 20px;
  --f-body-mid: 18px;
  --f-small: 15px;

  /*color*/
  --primary: #167351;
  --black: #000;
  --black2: rgba(0, 0, 0, 0.2);
  --black3: rgba(0, 0, 0, 0.3);
  --black8: rgba(0, 0, 0, 0.8);
  --white: #fff;
  --white2: rgba(255, 255, 255, 0.2);
  --white8: rgba(255, 255, 255, 0.8);
  --lightgray: #EEEDED;
  --dpbrown: #463730;
  --sage: #B1AE91;

  /*effect*/
  --grad-n: 0px 7px 29px 0 rgba(100, 100, 111, 0.2);
  --grad-h: 0px 0px 4px 0px rgba(0, 0, 0, 0.02), 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
}


/* 레이아웃 정리 */

.container {
  margin: 0 auto;
  width: 1444px;
}

.hidden {
  position: absolute;
  top: -9999em;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.edu_apply {
  height: 810px;
}

.edu_apply_title {
  margin-top: 108px;
  margin-bottom: 57px;
}

.notification {
  padding-top: 108px;
}

.noticewrap h3 {
  margin-bottom: 52px;
}

/* 폰트 */
body {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  font-size: var(--f-body);
  line-height: var(--r1);
}

.f-main {
  font-size: var(--f-main-t);
  line-height: var(--f-main-t);
}

.f-sub-t {
  font-size: var(--f-sub-t);
  font-weight: 500;
  line-height: 54px;
}

.f-sub {
  font-size: var(--f-sub);
}

.f-base {
  font-size: var(--f-body);
}

.f-small {
  font-size: var(--f-small);
}

/*HEADER*/
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--white8);
  z-index: 1;
}

body header:hover {
  background:
    url(../images/menu_background2.png) no-repeat bottom 81px left 30px / 45%,
    linear-gradient(var(--white)81px, var(--black8)81px, var(--black2)82px, var(--white8)82px);
  /* linear-gradient(90deg, var(--white)22%, transparent 22%);  */
  border-color: var(--black);
}

body header:hover .logo {
  background: url(../images/main_logo_black.svg) no-repeat;
}

body>header:hover a,
body>header:hover i {
  color: var(--black);
}

header .container {
  display: flex;
  justify-content: space-between;
  background: transparent;
  border-bottom: 0px;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

header .container a,
header .container i {
  color: var(--white);
}

header .container #searchbox i {
  color: var(--black);
}

.logo {
  background: url(../images/main_logo_white.svg) no-repeat;
  display: block;
  width: 200px;
  height: 80px;
  text-indent: -9999em;
}

header .top-nav {
  display: flex;
  align-items: center;
  color: #fff;
}

header .top-nav li a {
  display: block;
}

.top-nav li:hover>a,
.top-nav li ul li:hover a {
  transition: 0.3s;
  color: var(--primary);
  font-weight: 700;
}

.top-nav li ul li:hover {
  background: var(--white);
}

header .top-nav>li {
  position: relative;
  width: 202px;
  height: 81px;
  line-height: 81px;
  text-align: center;
}


.container nav .top-nav li ul {
  position: absolute;
  top: 83px;
  width: 202px;
  line-height: var(--r2);
  display: block;
  text-align: center;
  transition: left 0.5s;
}

.container nav .top-nav li ul:first-child {
  margin-top: 20px;
}

nav .top-nav>li:hover {
  border-bottom: 3px solid var(--primary);
  box-shadow: 0 1px 1px 0 var(--white2);
  box-sizing: border-box;

}

/* search검색창 */

#searchbox {
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  text-align: center;
  background: #fff;
  transition: 0.1s ease-out;
}

.search {
  width: 30px;
  height: 81px;
  line-height: 81px;
}

#searchbox.active {
  height: 81px;
  transform: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: 0.3s;
  color: var(--black);
}

.search-btn {
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: var(--f-body);
}

#searchbox label {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#searchbox input {
  width: 50vw;
  height: 40px;
  padding: 0 30px;
  left: 10vw;
  border: 1px solid var(--black);
  border-radius: 20px;
  font-size: var(--f-body);
}

.search-clear {
  margin-left: var(--cs1);
}


/*SLIDE_BANNER - main slide*/
.sl-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl-wrapper {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  box-sizing: border-box;
}

.sl-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sl-container li {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black3);
  background-blend-mode: multiply;
  color: var(--white);

}

.sl-container>li .contents {
  margin-top: 378px;
  overflow: hidden;
  /* transform: translate(30%, 30%); */
  transition: 0.3s;
}

.sl-container li .contents h2 {
  font-size: var(--f-main-t);
  height: 80px;
  line-height: 80px;
}

.sl-container li .contents span {
  margin-left: 27px;
}

.sl-container li .contents p {
  font-size: var(--f-sub-t);
  line-height: 50px;
}

.sl-container li .contents a {
  display: inline-block;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 14px 46px;
  border-radius: 30px;
  margin-top: 54px;
}

.sl-container li .contents a:hover {
  background: var(--white);
  color: #000;
}

.sl-wrapper .pager {
  display: flex;
  gap: 5px;
}

.sl-container .sl1 {
  background-image: url(../images/banner_slide01.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), transparent 10%, transparent 80%, rgba(0, 0, 0, 0.5));
}

.sl-container .sl2 {
  background-image: url(../images/banner_slide02.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), transparent 10%, transparent 80%, rgba(0, 0, 0, 0.5));
}

.sl-container .sl3 {
  background-image: url(../images/banner_slide03.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), transparent 10%, transparent 80%, rgba(0, 0, 0, 0.5));
}

.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 300px;
  /*transform:translateX(-50%); */
  display: flex;
  justify-content: center;
  z-index: 1;
}

.pager a {
  width: 18px;
  height: 18px;
  background: var(--white8);
  text-indent: -9999em;
  border-radius: 9px;
  margin-right: 20px;
}

.pager a:last-child {
  margin-right: 0;
}

.pager a.active {
  background: var(--primary);
  border: 1px solid var(--black);
}

/*SLIDE_BANNER - tabbar*/
.tabbar_wrapper {
  position: absolute;
  top: 707px;
  display: flex;
  gap: 155px;
  justify-content: center;
  align-items: end;
  color: var(--white8);
}

.tabbar {
  width: 951px;
  height: 200px;
  text-align: center;
  color: var(--white8);
  border-radius: 30px;
}

.tabbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.tabbar ul li {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: relative;
  border-radius: 30px;
}

.tabbar ul li:hover {
  border-radius: 30px;
  background: var(--black);
  /* background: linear-gradient(var(--white2),var(--white8)); */
}

.tabbar ul li a {}

.tabbar ul li:hover a {
  color: var(--white);
  text-shadow: 0 7px 9px var(--white2), 0px -2px 1px var(--black2);
}

.tabbar ul li:hover i {
  font-size: 80px;
}


.tabbar ul li:after {
  position: absolute;
  content: '';
  height: 100px;
  width: 1px;
  background: var(--white2);
  top: 50%;
  left: calc(100% + 23px);
  transform: translateY(-50%);
}

.tabbar ul li:last-child:after {
  width: 0;
  height: 0;
}

.tabbar ul li a {
  color: var(--white8);
}

.tabbar ul li i {
  display: block;
  font-size: 70px;
  line-height: 90px;
  margin-bottom: 12px;
  transition: 0.5s;
}



/*SLIDE_BANNER - weather*/
.weather_wrapper {
  width: 336px;
  height: 319px;
  border: 1px solid var(--white2);
  border-radius: 30px;
  padding: 50px 60px;
  box-sizing: border-box;
  transition: 0.3s;
}

.weather_wrapper .today {
  font-size: var(--f-sub);
  text-align: center;
}

.weather_wrapper .weather_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
}

.weather_wrapper:hover {
  color: var(--white);
  background: var(--black2);
}

.weather_wrapper .region {
  font-size: var(--f-small);
  margin-top: 18px;
  line-height: 27px;
  height: 27px;
}

.weather_wrapper #icon {
  height: 60px;
  width: 60px;
}

.weather_wrapper #icon img {
  height: 60px;
  width: 60px;
}

.weather_wrapper #temp {
  height: 60px;
  line-height: 60px;
  font-size: var(--f-main-t);
}

.weather_wrapper .figures {
  margin-top: 13px;
  width: 206px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.weather_wrapper .figures>p {
  display: flex;
  width: 100px;
  height: 42px;
  line-height: 54px;
  justify-content: space-around;
  align-items: center;
}



/*EDU-APPLY*/

.edu_apply {
  position: relative;
}

.edu_apply_title {
  display: flex;
  align-items: center;
}

.edu_apply_title h2 {
  font-weight: 500;
}

.edu_apply_title a {
  height: 27px;
  border: 1px solid var(--black2);
  box-shadow: var(--grad-n);
  border-radius: 5px;
  background: var(--white);
  font-size: var(--f-small);
  line-height: var(--r1);
  padding: 8px 16px;
  transition: 0.3s;
  margin-left: 30px;
  display: block;
}

.edu_apply_title a:hover {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--grad-h);
}

.edu_apply .slide-container {
  max-width: 100vw;
  overflow: hidden;
  top: 222px;
}

.edu_apply .slide-wrapper {
  position: relative;
  max-width: 100vw;
  top: 222px;
  left: 0;
}

.edu_apply .slides {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  gap: 10px;
  height: 630px;
  width: 3300px;
  /*ul 슬라이드+gap 전체너비-javascript로변경*/
  overflow: hidden;
}

.edu_apply .slides li {
  position: relative;
  width: 460px;
  height: 600px;
  border: 1px solid var(--black2);
  border-radius: 30px;
  box-sizing: border-box;
  background: var(--lightgray);
}

.edu_apply .slides .tag {
  position: absolute;
  top: -1px;
  right: 30px;
  width: 84px;
  height: 54px;
  line-height: 54px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  font-size: var(--f-body-mid);
  font-weight: 500;
  color: var(--white);
  box-shadow: var(--grad-h);
}

.edu_apply .slides .tag-wait {
  background: var(--dpbrown);
}

.edu_apply .slides .tag-open {
  background: var(--primary);
}

.edu_apply .slides .tag-close {
  background: var(--sage);
}

.edu_apply .slides li img {
  width: 458px;
  height: 325px;
  display: block;
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--black2);
}

.edu_apply .slide-title {
  background: var(--white);
  height: 88px;
  padding: 14px 31px;
  border-bottom: 1px solid var(--black2);
  box-sizing: border-box;
}

.edu_apply .slide-title h3 {
  line-height: var(--r1);
  font-weight: 400;
}

.edu_apply .slide-title h4 {
  font-size: var(--f-sub);
  line-height: var(--r1);
  font-weight: 600;
  color: var(--black);
}

.slides .desc {
  display: flex;
  font-size: var(--f-body-mid);
  line-height: var(--r1);
  padding: 20px 31px 0;
}


.slides .desc p span {
  display: block;
}

.slides .desc p:first-child {
  font-weight: 700;
  width: 67px;
  margin-right: 25px;
}

.slides li a {
  position: absolute;
  border: 1px solid var(--black2);
  box-shadow: var(--grad-n);
  border-radius: 5px;
  background: var(--white);
  font-size: var(--f-small);
  line-height: var(--r1);
  padding: 8px 16px;
  bottom: 50px;
  right: 28px;
  transition: 0.3s;
}

.slides li a:hover {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--grad-h);
}

.slides.animated {
  /*left값을 몰래 바꾸기*/
  left: 0;
  transition: 0.5s;
}


.controls {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls span {
  cursor: pointer;
  width: 30px;
  height: var(--cl1);
  background: var(--black3);
  color: var(--white);
  box-shadow: var(--grad-n);
  padding: 10px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.controls span:hover {
  background: var(--black8);
  box-shadow: var(--grad-h);
}

/*NOTIFICATION - noti*/
.notification {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid var(--black8);
}

.noticetab {
  width: 706px;
  padding: 22px;
  border: 1px solid var(--black2);
  border-radius: 30px;
  box-sizing: border-box;
}

.tabmenu {
  padding: 5px 20px;
  height: 46px;
  position: relative;
  z-index: 10;
}

.tabmenu li {
  float: left;
}

.tabmenu li a {
  display: block;
  width: 193px;
  padding: 10px 0;
  margin: 3px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  border: 1px solid var(--black2);
  background: var(--black2);
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  box-shadow: 1px -1px 1px 0 var(--black2);
}

.tabmenu li.active a {
  background: var(--white);
  box-shadow: 2px -2px 2px 0 var(--black2);
  margin: 4px;
}

.tabcontent {
  border: 1px solid var(--black2);
  position: relative;
  height: 282px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
}

.tabcontent>div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  padding: 25px 40px 45px;
  transition: all 0.5s;
}

.tabcontent>div.active {
  display: block;
}

.tabcontent div li {
  line-height: 35px;
  margin-bottom: 7px;
  text-overflow: ellipsis;
}

.tabcontent div li:hover a {
  color: var(--primary);
  border-bottom: 1px solid var(--black8);
}

.tabcontent div li span {
  float: right;
}

.tabcontent a.more {
  position: absolute;

  bottom: 0px;
  left: 0;
  right: 0;
  display: inline-block;
  font-size: var(--f-small);
  /* border: 1px solid var(--black2); */
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 0 0 20px 20px;
  background-color: var(--lightgray);
  box-sizing: border-box;
}

.tabcontent a.more:hover {
  background-color: var(--primary);
  color: var(--white);
}

.tabcontent a.more img {
  margin-left: 3px;
  height: 18px;
}

/*NOTIFICATION - sns*/
.sns {
  display: flex;
  flex-wrap: wrap;
  width: 706px;
}

.sns-wrap {
  display: flex;
  height: 384px;
}

.sns h3 {
  line-height: 54px;
  margin-bottom: 52px;
}

.sns .sns-fig {
  border: 1px solid var(--black2);
  border-radius: 30px;
  /* background: linear-gradient(var(--white) 330px, var(--lightgray)330px ); */
}

.sns .sns-fig:first-child {
  margin-right: 30px;
}

.sns>figure {
  width: 336px;
  border: 1px solid var(--black8);
}

.sns .sns-fig p {
  font-size: var(--f-sub);
  line-height: var(--r1);
  margin: 27px 27px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black3);
}

.youtube p {
  background-image: url(../images/YouTube_Logo.svg);
  background-position: bottom 18px right 2px;
  background-repeat: no-repeat;
  background-size: 25%;
}

.naverblog p {
  background-image: url(../images/nblog.png);
  background-position: bottom 12px right 10px;
  background-repeat: no-repeat;
  background-size: 20%;
}

.sns figure figcaption {
  margin: 0 27px 10px;
  line-height: 27px;
  text-align: center;
}

.sns figure img {
  margin-top: 10px;
  width: 336px;
  height: 189px;
  object-fit: cover;
}

.sns-fig div {

  text-align: right;
  font-size: var(--f-small);
  background: var(--lightgray);
  border-radius: 0 0 30px 30px;
}

.sns-fig div a {
  padding: 5px 27px 15px;
  display: block;
  border-radius: 0 0 30px 30px;
}

.sns-fig div:hover {
  background: var(--primary);
}

.sns-fig div:hover a {
  color: var(--white);
  font-weight: 600;
}

.sns-fig div a i {
  margin-left: 10px;
}

/*Footer*/
footer {
  height: 313px;
  background: var(--dpbrown);
  color: var(--white);
  margin-top: 82px;
}

footer .banner-wrapper {
  background: var(--lightgray);
  padding: 12px 0 8px;
  overflow: hidden;
}

footer .banner-wrap {
  width: 1920px;
}

footer .banner-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .banner-area li {
  width: 160px;
}

.footer-logo {
  background: url(../images/footer_logo.svg) no-repeat;
}