@charset 'utf-8';
@import url('reset.css');


/* 변수 설정 */
:root {
  /*
  가로간격
  세로간격
  폰트위계설정
  컬러차트
  */
}


/* 레이아웃 정리 */

.hidden{
  position: absolute;
  top: -9999em;
  left:0;
  width:0;
  height:0;
  overflow:hidden;
}

/* 폰트 */


/*HEADER*/
/*EDU*/